.title {
  font-family: cooper-black-std, serif;
  font-size: 8vh;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px
}

body {
  background-color: rgba(119,187,203,255)
}

.container {
  display:flex;
  height: 81vh;
  width: 98vw;
  order: -2, -1, 0, 1, 2;
}

/* flexbox1 */
.container1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 17.5% ;
  justify-content: flex-start;
}

.clock1 {
  display: flex;
  justify-content: flex-start;
  padding-left: 2vw;
}

.worm1{
  display: flex;
  padding: 2vh;
  justify-content: flex-end;
}

.toaster2{
  display: flex;
  padding-top: 6vh;
}

.bell1{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5vh
}

.worm2 {
  display: flex;
  align-items: flex-end;
}

/* flexbox2 */
.container2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 17.5%;
}

.toaster1{
  display: flex;
  justify-content: center;
  padding-top: 4vh;
}

.lips1{
  display: flex; 
  justify-content: center;
  padding-right: 4vh;
  padding-top: 6vh;
}

.clock2{
  display: flex;
  justify-content: flex-end;
  padding-top: 3vh;
}

.worm3 {
  display: flex;
  justify-content: flex-end;
  padding-top: 7vh;
}

/* flexbox3 */
.container3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: center;
}

/* flexbox4 */
.container4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}

.worm4 {
  display: flex;
  justify-content: flex-start;
  padding-top: 15vh;
}

.bell2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 5vh;
}

.toaster4 {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

/* flexbox5 */
.container5 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}

.toaster3 {
  display: flex;
  justify-content: center;
  padding-top: 7vh;
}

.lips2 {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.clock3 {
  display: flex;
  justify-content: center;
  padding-top: 7vh;
}



/* about me */

.home {
  position: absolute;
  top: 7px;
}

.comicBookGuy {
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10vh;
}


/* tech blog */

@font-face {
  font-family: 'simpsons';
  src: url(blog/media/simpsonfont.ttf)
  }

  .simpsons {
    font-family: 'simpsons';
    font-size: x-large;
    color: yellow;
  }

  #wholetext {
    width: 60%;
    border: 0;
    padding-left: 20%;
    font-family: 'Courier New', Courier, monospace;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: rgb(189, 52, 189);
  }

  h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
  }

  .CSSconceptsimages {
    display: inline-block;
    padding-bottom: 2vh;
  }
  
  .CSSimage1 {
    height: 60vh;
    width: auto;
    padding-top: 2%;
  }
  
  .CSSimage2 {
    height: 40vh;
    width: auto;
    padding-bottom: 10%;
    padding-top: 2%;
  }
  
  .answer {
    font-family: 'Courier New', Courier, monospace;
  }

  .LOTR {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .squid {
    max-width: 30%;
    max-height: auto;
    display: inline-block;
    padding-left: 3vw;
  }

  .ainsley {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pretendCode {
    padding-left: 3vw;
    font-family: 'Courier New', Courier, monospace;
  }

  p {
    font-family: 'Courier New', Courier, monospace;
  }

/* core blog */

a {
  color: inherit;
}

.corecontents {
  font-family: 'simpsons';
  font-size: x-large;
  color: inherit;
  list-style-type: none;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellow;
  padding-bottom: 4vh;
}

.joe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kobe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-width: 1800px) {
  html.specific-page
    div { 
      color: rgb(27, 29, 137);
    }
}

@media only screen and (min-width: 1800px) {
  html.specific-page
    body {
      background: pink;
}
}

@media only screen and (max-width: 320px) {
  html.specific-page
    h2 {
      color: rgba(255, 112, 23, 0.846);
  }
}

@media only screen and (max-width: 600px) {
  html.specific-page  
    body {
      background-color: rgb(131, 108, 185);
}
}

@media only screen and (min-width: 768px) {
  html.specific-page
    .corecontents {
      margin-top: 5vh;
 }
} 


