@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

.title {
  font-family: cooper-black-std, serif;
  font-size: 70px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px
}

body {
  background-color: rgba(119,187,203,255)
}

.dancingjesus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0vw;
}

.clock1 {
  position: fixed;
  top: 130px;
  left:40px;
}

.worm1{
  position: fixed;
  top: 250px;
  left:5px;
}

.toaster1{
  position: fixed;
  top: 200px;
  left: 250px;
}

.lips1{
  position: fixed;
  top: 400px;
  left: 250px; 
}

.toaster2{
  position: fixed;
  top: 400px;
  left: 5px; 
}

.bell1{
  position: fixed;
  top: 510px;
  left: 170px; 
}

.clock2{
  position: fixed;
  top: 570px;
  left: 400px; 
}

.worm2 {
  position: fixed;
  top: 650px;
  left: 5px; 
}

.worm3 {
  position: fixed;
  top: 700px;
  left: 320px; 
}

/* the other half of the page */

.worm4 {
  position: fixed;
  top: 240px;
  left: 910px; 
}

.toaster3 {
  position: fixed;
  top: 200px;
  left: 1200px; 
}

.bell2 {
  position: fixed;
  top: 370px;
  left: 970px; 
}

.lips2 {
  position: fixed;
  top: 370px;
  left: 1150px; 
}

.toaster4 {
  position: fixed;
  top: 590px;
  left: 950px; 
}
.clock3 {
  position: fixed;
  top: 580px;
  left: 1300px; 
}